<div ng-controller="AvaliacaoRedistribuicaoCtrl" ng-cloak>
    <tc-form name="formCertificador" on-save="salvar()">
        <div class="col-md-12">
            <tc-notitication id="formulario"></tc-notitication>
        </div>
        <div class="col-md-12">
            <button class="btn btn-danger pull-right" ng-click="redistribuir()" type="button"
                    access-level="AGENTE_AREA">
                Executar redistribuição e certificação
            </button>
        </div>
        <div class="col-md-12">
            <p>Incluir/Remover certificadores federais na redistribuição dos estados:</p>
            <div class="row">
                <div class="col-md-12 form-check">
                    <label class="form-check-label" style="padding-left: 5px;">
                        <input class="form-check-input" type="checkbox" ng-click="marcarTodos(this)">
                        Marcar Todos
                    </label>
                </div>
                <div class="col-md-3 form-check" ng-repeat="row in ufs">
                    <input class="form-check-input" type="checkbox" ng-model="ufs[row.sigla]" value="{{row.sigla}}"
                           id="{{row.sigla}}" ng-click="checked(this)">
                    <label class="form-check-label" for="{{row.sigla}}" style="padding-left: 5px;">
                        {{row.nome}}
                    </label>
                </div>
            </div>
        </div>

    </tc-form>
</div>
<script>
    $(document).ready(function () {
        $('input:checkbox').change(function () {
            var checkbox = $(this),
                nextParentRow = checkbox.closest('.parent-row').next();

            if (checkbox.is(':checked')) {
                nextParentRow.removeClass('d-none').addClass('d-block');
            } else {
                nextParentRow.addClass('d-none').removeClass('d-block');
            }
        });
    });
</script>
