<div ng-controller="CertificadorFormularioCtrl" ng-cloak>
    <tc-form name="formCertificador" on-save="salvar()">

        <div class="col-md-12">
            <tc-notitication id="formulario"></tc-notitication>
        </div>

        <!--Só permite alterar o agente quando é um novo cadastro-->
        <input-agente
                col-input="4"
                help="Selecione o Agente Certificador."
                label="Agente Certificador"
                ng-if="ref.novoRegistro"
                ng-model="dto._agente"
                required="true"
        >
        </input-agente>

        <tc-input
                col-input="4"
                label="Agente Certificador"
                ng-if="!ref.novoRegistro"
                ng-model="dto.agenteNome"
                readonly="true"
        >
        </tc-input>

        <tc-select
                disabled="!ref.novoRegistro"
                help="Selecione o tipo do certificador sendo cadastrado."
                label="Tipo de Certificador"
                col-input="3"
                field="label"
                ng-model="dto.tipo"
                options="tipos"
                order="codigo"
                required="true"
        >
        </tc-select>
        <!--        <tc-select-->
        <!--                col="4"-->
        <!--                field="label"-->
        <!--                label="UF Certificador"-->
        <!--                ng-if="dto.tipo.codigo != 'M' && dto.tipo.codigo != 'P' && dto.tipo.codigo != 'C'"-->
        <!--                ng-model="dto.uf"-->
        <!--                options="uf"-->
        <!--        >-->
        <!--        </tc-select>-->
        <tc-select
                help="Informe se este Certificador é Titular ou Suplente"
                label="Grupo"
                ng-model="dto.titular"
                col-input="2"
                field="label"
                options="opcoesGrupo"
                ng-if="dto.tipo.codigo != 'E' && dto.tipo.codigo != 'S'"
        >
        </tc-select>

        <tc-select
                ng-model="dto.ativo"
                ng-if="!ref.novoRegistro"
                label="Status do registro"
                help="Informe se este Certificador está ativo ou não."
                col-input="2"
                field="label"
                options="opcoesAtivo"
                required="true"
        >
        </tc-select>

    </tc-form>
</div>
