<div class="tc-input col-md-{{col|| 12}}">
    <tc-base-field>
        <div class="row">
            <div class="col-md-{{colInput|| 12}}">
                <input
                        aria-describedby="{{tcInputName}}-help"
                        class="form-control"
                        id="{{tcInputName}}"
                        name="{{tcInputName}}"
                        ng-disabled="disabled"
                        ng-model="$parent.ngModel"
                        ng-readonly="readonly"
                        ng-required="required"
                        ondrop="return false"
                        typeahead-editable="false"
                        typeahead-min-length="3"
                        typeahead-show-hint="true"
                        typeahead-template-url="modules/Configuracao/templates/InputAgenteDirectiveItem.html"
                        typeahead-wait-ms="400"
                        uib-typeahead="agent as agent.name for agent in buscar($viewValue)"
                />
            </div>
        </div>
    </tc-base-field>
</div>
