<div class="card-pf card-pf-utilization card-pf-accented">
    <div class="card-pf-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row" ng-form>
                    <tc-input col="4"
                              label="Nome"
                              ng-model="ref.filtrarTexto">
                    </tc-input>

                    <!--                    <tc-select ng-model="ref.filtrarUf"-->
                    <!--                               label="UF Entidade"-->
                    <!--                               col="4"-->
                    <!--                               field="label"-->
                    <!--                               options="estadosBrasil">-->
                    <!--                    </tc-select>-->

                    <tc-input col="4"
                              label="Município Entidade"
                              ng-model="ref.filtrarMunicipio">
                    </tc-input>
                        <div class="col-md-12 text-right">
                            <button class="btn btn-primary" ng-click="this.filtrar()" type="button">
                                Filtrar
                            </button>
                        </div>

                    <div class="clearfix"></div>
                    <hr/>

                    <div class="col-md-12">
                        <button access-level="AGENTE_AREA" class="btn btn-danger" ng-click="redistribuir()"
                                type="button">
                            Executar redistribuição e certificação
                        </button>
                        <tc-notitication id="bag-filtro-agentes"></tc-notitication>

                        <div ng-if="ref.data.total > 0" style="margin-top: 20px;">
                            <div class="row"
                                 ng-repeat="rows in ref.data.chunk"
                                 style="margin-bottom: 30px; border-bottom: 1px solid #efefef;">
                                <div ng-repeat="inscricao in rows" class="col-xs-12 col-md-4">
                                    <div class="card-pf card-pf-accented card-pf-aggregate-status">
                                        <a ng-if="inscricao.estado === 'C'"
                                           class="ponto-certificado"
                                           ng-href="/agente/{{inscricao.pontoId}}"
                                           target="_blank">

                                            <i class="glyphicon glyphicon-certificate"
                                               title="Entidade certificada">
                                            </i>
                                        </a>
                                        <h2 class="card-pf-title">
                                            <a ng-href="/agente/{{inscricao.pontoId}}" target="_blank">
                                                {{inscricao.pontoNome}}
                                            </a>
                                            <p>
                                                <small>
                                                    <strong>
                                                        {{inscricao.entidadeNome}}
                                                    </strong>
                                                </small>
                                            </p>
                                            <p>
                                                <small>tipo: <strong>{{inscricao.tipoPontoDesejado}}</strong></small>
                                            </p>
                                        </h2>
                                        <div class="card-pf-body" style="padding-bottom: 0;">
                                            <p class="card-pf-aggregate-status-notifications">
                                                <strong class="card-pf-aggregate-status-notification">
                                                    # {{inscricao.id}}
                                                </strong>
                                            </p>

                                            <div
                                                class="list-group-item list-view-pf-stacked"
                                                style="border: 0; margin: 0 -10px; padding: 0;"
                                                >

                                                <avaliacao-lista-certificador
                                                        avaliacao-id="{{inscricao.avaliacaoCivilFederalId}}"
                                                        certificador-id="{{inscricao.avaliacaoCivilFederalCertificadorId}}"
                                                        certificador-nome="{{inscricao.avaliacaoCivilFederalCertificador}}"
                                                        certificador-tipo="Sociedade Civil Federal"
                                                        estado-avaliacao="{{inscricao.avaliacaoCivilFederalEstado}}"
                                                        ng-if="usuario.roles.indexOf('rcv_certificador_civil') > -1 && inscricao.avaliacaoCivilFederalId != null"
                                                >
                                                </avaliacao-lista-certificador>

                                                <!--                                                <avaliacao-lista-certificador-->
                                                <!--                                                        ng-if="usuario.roles.indexOf('rcv_certificador_civil') == -1 && inscricao.avaliacaoCivilEstadualId != null"-->
                                                <!--                                                        certificador-tipo="Sociedade Civil - {{inscricao.avaliacaoCivilEstadualCertificadorUf}}"-->
                                                <!--                                                        avaliacao-id="{{inscricao.avaliacaoCivilEstadualId}}"-->
                                                <!--                                                        certificador-id="{{inscricao.avaliacaoCivilEstadualCertificadorId}}"-->
                                                <!--                                                        estado-avaliacao="{{inscricao.avaliacaoCivilEstadualEstado}}"-->
                                                <!--                                                        certificador-nome="{{inscricao.avaliacaoCivilEstadualCertificador}}"-->
                                                <!--                                                >-->
                                                <!--                                                </avaliacao-lista-certificador>-->

                                                <avaliacao-lista-certificador
                                                        avaliacao-id="{{inscricao.avaliacaoPublicaFederalId}}"
                                                        certificador-id="{{inscricao.avaliacaoPublicaFederalCertificadorId}}"
                                                        certificador-nome="{{inscricao.avaliacaoPublicaFederalCertificador}}"
                                                        certificador-tipo="Poder Público Federal"
                                                        estado-avaliacao="{{inscricao.avaliacaoPublicaFederalEstado}}"
                                                        ng-if="usuario.roles.indexOf('rcv_certificador_publico') > -1 && inscricao.avaliacaoPublicaFederalId != null"
                                                >
                                                </avaliacao-lista-certificador>

                                                <!--                                                <avaliacao-lista-certificador-->
                                                <!--                                                        ng-if="usuario.roles.indexOf('rcv_certificador_publico') == -1 && inscricao.avaliacaoPublicaEstadualId != null"-->
                                                <!--                                                        certificador-tipo="Poder Público - {{inscricao.avaliacaoPublicaEstadualCertificadorUf}}"-->
                                                <!--                                                        avaliacao-id="{{inscricao.avaliacaoPublicaEstadualId}}"-->
                                                <!--                                                        certificador-id="{{inscricao.avaliacaoPublicaEstadualCertificadorId}}"-->
                                                <!--                                                        estado-avaliacao="{{inscricao.avaliacaoPublicaEstadualEstado}}"-->
                                                <!--                                                        certificador-nome="{{inscricao.avaliacaoPublicaEstadualCertificador}}"-->
                                                <!--                                                >-->
                                                <!--                                                </avaliacao-lista-certificador>-->

                                                <avaliacao-lista-certificador
                                                        ng-if="inscricao.avaliacaoMinervaId"
                                                        certificador-tipo="Voto de Minerva"
                                                        avaliacao-id="{{inscricao.avaliacaoMinervaId}}"
                                                        certificador-id="{{inscricao.avaliacaoMinervaCertificadorId}}"
                                                        estado-avaliacao="{{inscricao.avaliacaoMinervaEstado}}"
                                                        certificador-nome="{{inscricao.avaliacaoMinervaCertificador}}">
                                                </avaliacao-lista-certificador>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul next-text="&raquo;"
                                total-items="ref.data.total"
                                ng-model="ref.pagina"
                                class="pagination-sm"
                                items-per-page="10"
                                max-size="10"
                                previous-text="&laquo;"
                                uib-pagination>
                            </ul>
                        </div>

                        <div class="blank-slate-pf" ng-show="ref.data.total < 1" style="margin-top: 20px;">
                            <p>
                                <span ng-show="ref.texto">
                                    Não foram encontrados avaliações {{descricao}} com o filtro informado.
                                </span>
                                <span ng-hide="ref.texto">
                                    Não existem avaliações {{descricao}}.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
