<div
        class="pfBaseField form-group"
        ng-class="{'has-error': baseForm[_formName].$invalid && ((baseForm[_formName].$dirty || baseForm[_formName].$touched) || baseForm.$submitted),
                    'has-success': baseForm[_formName].$valid && ((baseForm[_formName].$dirty || baseForm[_formName].$touched) || baseForm.$submitted)}"
        ng-form="{{_formName}}"

>
    <label class="form-field" for="{{tcInputName}}" ng-if="label">
        <span>{{label}}</span>
        <span class="required text-danger" ng-show="required">*</span>
    </label>

    <div ng-transclude></div>

    <span id="{{tcInputName}}-help" class="help-block" ng-if="help">
        {{help}}
    </span>

    <div
            ng-if="(baseForm[_formName].$dirty || baseForm[_formName].$touched) || baseForm.$submitted"
            ng-messages="baseForm[_formName].$error"
    >
        <span class="help-block" ng-message-exp="type" ng-repeat="(type, msg) in _errorMessages">
            {{msg}}
        </span>
    </div>

</div>
