<div class="tc-input col-md-{{col|| 12}}">
    <tc-base-field>
        <div class="row">
            <div class="col-md-{{colInput|| 12}}">
                <div class="{{icon ? 'input-group' : ''}}">
                    <span class="input-group-addon" ng-if="icon">
                        <span class="{{icon}}"></span>
                    </span>
                    <input aria-describedby="{{tcInputName}}-help" class="form-control" id="{{tcInputName}}"
                           name="{{tcInputName}}"
                           ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0}}"
                           ng-blur="blur" ng-change="change" ng-copy="copy" ng-cut="cut"
                           ng-disabled="disabled" ng-keydown="keydown" ng-keyup="keyup" ng-maxlength="maxlength"
                           ng-minlength="minlength"
                           ng-model="$parent.ngModel" ng-paste="paste" ng-readonly="readonly"
                           ondrop="return false"
                           ng-required="required"/>
                </div>
            </div>
        </div>
    </tc-base-field>
</div>
