<div class="tc-input col-md-{{col|| 12}}">
    <tc-base-field>

        <div  ng-repeat="(key,value) in $parent.values track by $index">
            <div class="form-group input-group">
                <input
                        autocomplete="off"
                        ng-if="iMask"
                        class="form-control"
                        clean="true"

                        ng-model="values[$index]"
                        ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0}}"
                        mask="{{iMask}}"
                        ng-readonly="ngReadonly"

                        name="{{tcInputName}}_{{$index}}"
                        ondrop="return false"
                        ng-disabled="ngDisabled"
                        type="text"
                        restrict="reject"
                        aria-describedby="{{tcInputName}}-help"
                />
                <input
                        aria-describedby="{{tcInputName}}-help"
                        ng-if="!iMask"
                        autocomplete="off"
                        class="form-control"

                        ng-model="values[$index]"
                        ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0}}"
                        name="{{tcInputName}}_{{$index}}"
                        ng-readonly="ngReadonly"

                        ng-disabled="ngDisabled"
                        ondrop="return false"
                        type="text"
                />
                <span class="input-group-btn">
                    <button
                            ng-class="{'btn-primary':$last, 'btn-warning':!$last}"
                            class="btn btn-primary"
                            ng-disabled="!allowAdd($index)"
                            ng-click="($last) ? add() : remove(key)"
                            type="button"
                    >
                        <span
                                class="fa fa-plus-circle"
                                ng-class="{'fa-plus-circle':$last, 'fa-minus-circle':!$last}"
                        >
                        </span>
                    </button>
                </span>
            </div>
        </div>
    </tc-base-field>
</div>
