<style>
    div {
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
<div ng-controller="RelatoriosInicioCtrl" class="row__ cards-pf__">

    <div class="col-md-12">
        <div>
            Ser um Agente Certificador significa colaborar para a implementação da Política Nacional de Cultura
            Viva-PNCV,
            a partir da gestão pública compartilhada e participativa, com o objetivo de:
            <ul>
                <li>Valorizar a cultura de base comunitária;</li>
                <li>Reconhecer e estimular o protagonismo social e as iniciativas culturais já existentes; e</li>
                <li>Cooperar para que seja assegurado o respeito à cultura como direito de cidadania e à diversidade
                    cultural como expressão simbólica e atividade econômica.
                </li>
            </ul>
        </div>
        <div>
            Os cadastros são distribuídos aos Agentes Certificadores de forma aleatória para avaliação, em atendimento
            aos
            princípios da isonomia e da imparcialidade.
        </div>
        <div>
            Cada Cadastro será avaliado por 2 Agentes Certificadores e, após as análises, a Plataforma Rede Cultura Viva
            encaminhará um e-mail ao usuário (entidade/coletivo cultural) acerca da aprovação ou do indeferimento do
            Cadastro.
        </div>
        <div>
            Importante a leitura do
            <a href="/assets/pdf/manual_agente_certificador_2021.pdf" target="_blank">Manual do Agente Certificador</a>,
            a ser disponibilizado pela Secretaria Nacional da Economia Criativa e Diversidade Cultural,
            com o passo-a-passo do processo de análise e certificação simplificada de Pontos e Pontões de Cultura!
        </div>
        <div>
            Quaisquer dúvidas, sugestões e/ou reclamações: culturaviva@turismo.gov.br .
        </div>
        <div>
            Secretaria Nacional da Economia Criativa e Diversidade Cultural</br>
            Secretaria Especial da Cultura</br>
            Ministério do Turismo
        </div>
    </div>
</div>
